body {
  min-height: 100%;
  background: #1a202c;
}
.margin-bottom {
  margin-bottom: 1.5rem
}
.blur {
  filter: blur(4px);
}
a {
  color: $white;
  &:hover {
      text-decoration: none;
      color: $lightGrey;
  }
}