// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$darkBlue: rgba(0,0,0,0.25);
$darkerBlue: #1a202c;
$white: #fff;
$lightGrey: #7b7878;
$lighterGrey: #a8a8b5;
$lightRed: #f87979;
$darkRed: #f86661;
$shadowBlack: rgba(0,0,0,0.47);

// Sizes
$footerHeight: 75px;
